@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PathLab</h1>

</div> *@

@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Add your custom styles here */
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(135deg, #C6EA8D ,#FE90AF);
    }
</style>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.laxmipathlab.com/images/slide01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="https://www.laxmipathlab.com/images/slide02.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="https://www.laxmipathlab.com/images/slide03.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <br />
    <br />

    <div>
        <h3>About Pathlab</h3>

        <section>
            <p>
                Situated in one of the largest neighborhoods in Mumbai, Pathology Lab in Motera Sabarmati, Ahmedabad is a part of the integrated network of pathology labs. This venture embarked on its journey with a longstanding commitment and a vision to make a wide range of specialized testing services available to the common man. In the sector, this center has been consistent towards its commitment to excellence and innovation in whatever they do. The center is well equipped with the latest in technological advancements and automation and adhere to the various stringent internal and external quality control mechanisms. Established in 2010, Undoubtedly it is one of the best pathology labs in Motera Sabarmati, Ahmedabad, Ahmedabad.

                Under the adroit management of Archana Agrawal, we have achieved remarkable success rate in this field.

                Pathology Lab is hiring the world's best instruments, quality reagents & best technical consultants to fulfil its commitment.  Pathology Lab has grown continuously due to its customer-oriented approach and today we are the most preferred laboratory in Ahmedabad. We have earned the epitome of the highest quality services. we are the trust-based laboratory to earn this reputed certification in all our patient feedback.

                Pathology Lab has been continuously rated very highly which depicts our true interests in providing accurate and timely results to all our patients. Pathology Lab, being the laboratory in Mumbai to provide laboratory records by email and Whatsapp to the patients, we have taken one more stride towards excellence in customer satisfaction.
            </p>
        </section>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-60">
                <img src="https://images.theconversation.com/files/177464/original/file-20170710-5553-yu4kic.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blood Test</h5>
                    <p class="card-text">A blood test is one of the most common tests healthcare providers use to monitor your overall health or help diagnose medical conditions. You may have a blood test as part of a routine physical examination or because you have certain symptoms.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2016/6/Urine_analysis_shutterstock_146356910.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Urine Test</h5>
                    <p class="card-text">A urinalysis is a test of your urine. It is often done to check for a urinary tract infections, kidney problems, or diabetes. </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/325/325484/man-having-lung-diffusion-test.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lungs Test</h5>
                    <p class="card-text">Lung function tests (also called pulmonary function tests) include a variety of tests that check how well the lungs work. The most basic test is spirometry. This test measures the amount of air the lungs can hold. The test also measures how forcefully one can empty air from the lungs</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
