

<style>
    /* Add your custom styles here */
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(135deg, #FFECD2, #FCB69F);
    }
  
</style>

<div className="contact-container">
    <h2>Contact Us</h2>

    <div className="contact-cards">
        <div className="contact-card">
            <img src="~/css/vaish.jpg" />
            <h4>Vaishnavi Masudage</h4>
            <h6>vaishnavimasudage@gmail.com</h6>
            <h6>+91 9175221105</h6>
        </div>
        <div className="contact-card">
            <img src="~/css/nm.jpg" />
            <h4>Namrata Karmalkar</h4>
            <h6>namrata@gmail.com</h6>
            <h6>+91 9876543210</h6>
        </div>
        <div className="contact-card">
            <img src="~/css/yy.jpg" />
            <h4>Yash Kamble</h4>
            <h6>yash@gmail.com</h6>
            <h6>+91 9876543210</h6>
        </div>
    </div>

    <div className="contact-cards">
        <div className="contact-card">
            <img src="~/css/pra.jpg" />
            <h4>Prasad Ingavale </h4>
            <h6>prasad@gmail.com</h6>
            <h6>+91 9876543210</h6>
        </div>
    </div>

       <div className="contact-cards">
        <div className="contact-card">
            <img src="~/css/yash1.jpg" />
            <h3>Yash Ghodmare</h3>
            <h6>yashghodmare9881@gmail.com</h6>
            <h6>+91 9876543210</h6>
        </div>
    </div>
</div>
 


